<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <google>
            <groups>
                <adwords_conversion translate="label" module="luka_googleaw">
                    <label>Google AdWords - Conversion Tracking</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>

                        <conversions translate="label comment">
                            <label>Conversions</label>
                            <comment>Select "Custom Action" to define a custom layout handle in the "Custom Action" field.</comment>

                            <frontend_model>luka_googleaw/adminhtml_config_conversions</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>

                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </conversions>

                        <!-- 
                        <conversion_id translate="label">
                            <label>Conversion ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </conversion_id>

                        <locale translate="label">
                            <label>Conversion Language</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_locale</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </locale>

                        <label translate="label">
                            <label>Conversion Label</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </label>
                        -->

                        <format translate="label,comment">
                            <label>Notification Format</label>
                            <comment>Define the notification format.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>luka_googleaw/config_source_format</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </format>

                        <color translate="label,comment">
                            <label>Background Color</label>
                            <comment>Default background color in CSS notation without # i.e. "ffffff".</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </color>
                        
                        <locale translate="label">
                            <label>Conversion Language</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_locale</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </locale>
                    </fields>
                </adwords_conversion>
            </groups>
        </google>
    </sections>
</config>
